body{
    margin: 0px;
}
.menu{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 85vw;
    background-color: white;
    align-items: center;
    text-align: center;
    
}
#btn1{
    width: 80%;
    height: 20%;
    background-color: black;
    margin-top: 10%;
    margin-left: 10%;
    transition: 0.5s;
    border-radius: 10px;
}
#btn2{
    width: 80%;
    height: 20%;
    background-color: pink;
    margin-top: 10%;
    margin-left: 10%;
    transition: 0.5s;
    border-radius: 10px;
}
#btn3{
    width: 80%;
    height: 20%;
    background-color: orange;
    margin-top: 10%;
    margin-left: 10%;
    transition: 0.5s;
    border-radius: 10px;
}
#btn3:hover{
    opacity: 0.5;
}
#btn2:hover{
    opacity: 0.5;
}
#btn1:hover{
    opacity: 0.5;
}

.info{
    position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: auto;
	z-index: 1; /* TODO Solve this in HTML */
}

